/* @import url('https://fonts.googleapis.com/css2?family=Kapakana:wght@300..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */

   
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kapakana' , sans-serif;
}

.container {
    background-color: rgb(0, 0, 0 , 0.7);
    color: #ffff;
    padding: 1.5rem;
}
.first {
    color: red !important;
    width: 15rem;
    font-style: italic;
}
.second {
    color: green;
    text-transform: uppercase;
}
#third {
    color : rgb(64, 64, 132)

}
.bironi {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: rgb(118, 55, 55);
    border: 5px solid green;
    outline: 3px dashed red;
}
.daroni {
    width: 50%;
    height: 50%;
    background-color: red;
    
    /* margin-top: auto; */
    /* margin: auto; */
}
.quote::before {
  content: "❝";
  color: red;
  font-size: 20px;
}

.quote::after {
  content: "❞";
  color: red;
  font-size: 20px;
}

.button {
  position: relative;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: 0.3s;
}